@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reinvent</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Grupo de Produtos</h2>
        <p>
            Um simples CRUD que controla o estoque de produtos.
        </p>
        <h2>CRUD</h2>
        <p>
            São as quatro operações básicas utilizadas em bancos de dados relacionais.
            C -> Create | R -> Read | U -> Update | D -> Delete
        </p>
    </div>
</div>